{% extends 'index.html' %}

{% block title %}
<title>signup</title>
{% endblock title %}



{% block body %}

<h3>this is signup page</h3>
<div class="container">
    <div class="col-lg-5 mx-auto p-0 shadow ">
        <div class="alert alert-info"><h3>CREATE ACCOUNT</h3> </div>
        <form action="signup" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <hr>
        <div class="text text-center">
            <input class="text-center btn btn-success mb-2" type="submit" value="create account">
        </div>
        </form>

    </div>


</div>


{% endblock body %}